.editor_class {
	background-color: white;
	width: 100%;
}

.free {
	font-weight: bold;
	color: OrangeRed;
}
.adv_step {
	float: left;
	width: 87px;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	color: #054289;
	padding: 3px;
	margin-bottom: 0;
}
.adv_step_active {
	font-weight: bold;
}
.adv_circle {
	width: 85px;
	height: 52px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 30px 0 0;
	background-color: #EDEDEF;

	font-family: Arial;
	font-size: 16px;
	border-width: 0;
	border-style: solid;
	border-color: red;

	background-image: -moz-linear-gradient(top , #FFFFFF, #FFCAC7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#FFCAC7));
	background-image: -webkit-linear-gradient(top , #FFFFFF, #FFCAC7);
	background-image: -o-linear-gradient(top , #FFFFFF, #FFCAC7);
	background-image: linear-gradient(to bottom, center top , #FFFFFF, #FFCAC7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFCAC7', GradientType=0);

	box-shadow: 0 3px 5px #E3665F, 0 2px 3px #DDDDDD inset;
	-webkit-box-shadow: 0 3px 5px #E3665F, 0 2px 3px #DDDDDD inset;
	-moz-box-shadow: 0 3px 5px #E3665F, 0 2px 3px #DDDDDD inset;

	margin-bottom: 5px;

	box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
}
.adv_circle_active {
	font-weight: bold;
	border-color: blue;
	background-image: -moz-linear-gradient(top , #FFFFFF, #C8F2FF);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#C8F2FF));
	background-image: -webkit-linear-gradient(top , #FFFFFF, #C8F2FF);
	background-image: -o-linear-gradient(top , #FFFFFF, #C8F2FF);
	background-image: linear-gradient(to bottom, center top , #FFFFFF, #C8F2FF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#C8F2FF', GradientType=0);

	box-shadow: 0 3px 5px #60C5E3, 0 2px 3px #DDDDDD inset;
	-webkit-box-shadow: 0 3px 5px #60C5E3, 0 2px 3px #DDDDDD inset;
	-moz-box-shadow: 0 3px 5px #60C5E3, 0 2px 3px #DDDDDD inset;
}
.adv_circle_passed {
	background-image: -moz-linear-gradient(top , #FFFFFF, #70CC70);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#70CC70));
	background-image: -webkit-linear-gradient(top , #FFFFFF, #70CC70);
	background-image: -o-linear-gradient(top , #FFFFFF, #70CC70);
	background-image: linear-gradient(to bottom, center top , #FFFFFF, #70CC70);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFFFFFF', endColorstr='#ff70CC70', GradientType=0);

	box-shadow: 0 3px 5px #70CC70, 0 2px 3px #DDDDDD inset;
	-webkit-box-shadow: 0 3px 5px #70CC70, 0 2px 3px #DDDDDD inset;
	-moz-box-shadow: 0 3px 5px #70CC70, 0 2px 3px #DDDDDD inset;
	border-color: #008000;
}
.adv_line {
	float: left;
	width: 12%;
	height: 43px;
	border-width: 0;
}
.adv_line_active {
	border-color: blue;
}
.adv_line_passed {
	border-color: green;
}

.submit_section {
	margin-bottom: 30px;
	background: linear-gradient(to top, #F5F5F5, #F9F9F9) repeat scroll 0 0 #F5F5F5;
	border-color: #DFDFDF;
	border-radius: 3px;
	box-shadow: 0 1px 0 #FFFFFF inset;
	border-style: solid;
	border-width: 1px;
	line-height: 1;
	padding: 0;
}
.submit_section_adv {
	margin-bottom: 30px;
}
.submit_section_adv li.list-group-item {
	margin: 0 0 -1px;
}
.submit_section h3.submit_section_label {
	border-bottom-color: #DFDFDF;
	box-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
	font-size: 15px;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	padding: 7px 10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #464646;
	background: linear-gradient(to top, #ECECEC, #F9F9F9) repeat scroll 0 0 #F1F1F1;
}
.submit_section_inside {
	padding: 10px;
}

div.tabs-panel {
	min-height: 42px;
	max-height: 250px;
	overflow: auto;
	padding: 0 0.9em;
	border-style: solid;
	border-width: 1px;
}
div.tabs-panel ul.categorychecklist,
div.tabs-panel ul.categorychecklist li {
	list-style: none outside none;
}
ul.categorychecklist li {
	line-height: 19px;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}
ul.categorychecklist li ul.children {
	margin-left: 25px;
}

/* Content fields */
.delete_selection_item {
	float: left;
	margin-right: 5px;
	cursor: pointer;
}
.content_fields_metabox .w2dc_field {
	padding: 10px 0;
}
.content_fields_metabox .w2dc_field>label {
	width: 160px;
	float: left;
	font-weight: bold;
}
.content_fields_metabox .w2dc_field_input_select {
	min-width: 200px
}
.content_fields_metabox .w2dc_field_input_div {
	float: left;
}
.content_fields_metabox .w2dc_field_icon {
	box-shadow: none !important;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
.content_fields_metabox .description_big {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
}

/* Listing locations input */
.locations_metabox {
	padding-bottom: 10px;
}

.locations_metabox label {
	width: 160px;
	display: inline-block;
}
.location_in_metabox {
	border-bottom: 1px solid #EFEFEF;
	padding: 15px 0;
}

/* Icons selection dialog */
.theme_name {
	font-size: 14px;
	color: black;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: center;
}
.theme_block {
	padding: 8px;
}
.w2dc_icon {
	padding: 3px;
	float: left;
	background-color: white;
	cursor: pointer;
}
.selected_icon {
	background-color: #FCA057;
}
.w2dc_icon:hover {
	background-color: #EFEFEF;
}
.selected_icon:hover {
	background-color: #FCA057;
}

#upload_functions {
	margin: 20px 0 40px;
}
.w2dc_attached_item {
	float: left;
	margin: 15px;
}
.w2dc_img_div_border {
	background-color: #FFFFFF;
	border: 2px solid #DAE2E8;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 15px;
}
.w2dc_img_div_border, .w2dc_img_div_border * {
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
}
.w2dc_img_div_border img {
	padding: 0 !important;
	margin: 0 !important;
	border: 0 none !important;
	background: none repeat scroll 0 0 #FFFFFF !important;
	box-shadow: none !important;
	vertical-align: middle !important;
	border-radius: 0;
}
.w2dc_img_div_helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.w2dc_delete_attached_item {
	width: 110px;
	height: 20px;
	cursor: pointer;
}

label.w2dc_fsubmit_contact {
	display: block;
	font-weight: bold;
	margin: 15px 0 5px;
}

input[type="button"].w2dc_submit_listing_link, input[type="button"].w2dc_submit_listing_link:hover, input[type="button"].w2dc_submit_listing_link:focus {
	background-image: url(../images/page_add.png);
}
input[type="button"].w2dc_claim_listing_link, input[type="button"].w2dc_claim_listing_link:hover, input[type="button"].w2dc_claim_listing_link:focus {
	background-image: url(../images/flag.png);
}
input[type="button"].w2dc_logout_link, input[type="button"].w2dc_logout_link:hover, input[type="button"].w2dc_logout_link:focus {
	background-image: url(../images/door_in.png);
}

.w2dc_field_input_textarea {
	width: 100%;
}

.w2dc_badge {
	border-radius: 3px;
	background-color: #999999;
	color: #FFFFFF;
	display: inline-block;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	padding: 2px 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
}
.w2dc_badge:hover {
	color: #FFFFFF;
}
.listing_status_active, .invoice_status_paid {
	background-color: #5BB75B;
}
.listing_status_expired {
	background-color: #DA4F49;
}
.listing_status_unpaid, .invoice_status_unpaid {
	background-color: #FAA732;
}
.listing_status_stopped, .invoice_status_pending {
	background-color: #000000;
}

ul.w2dc_dashboard_tabs.nav {
	margin: 20px 0;
}

#pass-strength-result {
	border-style: solid;
	border-width: 1px;
	float: left;
	margin: 13px 5px 5px 1px;
	padding: 3px 5px;
	text-align: center;
	width: 200px;
	display: none;
}
#pass-strength-result {
	background-color: #eee;
	border-color: #ddd !important;
}

#pass-strength-result.bad {
	background-color: #ffb78c;
	border-color: #ff853c !important;
}

#pass-strength-result.good {
	background-color: #ffec8b;
	border-color: #fc0 !important;
}

#pass-strength-result.short {
	background-color: #ffa0a0;
	border-color: #f04040 !important;
}

#pass-strength-result.strong {
	background-color: #c3ff88;
	border-color: #8dff1c !important;
}

.misc-pub-section {
	padding: 6px 0 8px;
}
