/**
 * =Responsive & Media Queries
 * ----------------------------------------------------------------------------
 */

/* Larger Desktops */
@media only screen and (min-width: 1129px) {
	.main-featured .flexslider .slides > li { min-height: 336px; }
}

/* Tablets - Small Desktops - fluid wrapper */
@media only screen and (max-width: 1128px) {
	
	.wrap, .boxed .main-wrap { 
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 
		padding: 0 4%;
	}
	
	body.boxed { padding: 0 25px 0 25px; }
	
	.background-cover {
		position: fixed;
		background-position: 50% 0;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-position: center center;
		background-size: cover;
		z-index: -1;
	}
	
	.trending-ticker a { max-width: 400px; }
	
	.main-head .right { margin-left: 250px; }
	
	.navigation.sticky {
		width: 100%;
		left: 0;
	}
	
	.navigation .menu li > a { padding: 0 20px; }


	.tabbed .tabs-list a { padding: 0 3%; }
	
	.post-header img, .post-content img {
		max-width: 100%;
		height: auto;
	}
	
	.post-share .text { display: none; }
	.share-links a { margin-bottom: 4px; }
	
	/* fluid slider blocks */
	.main-featured .blocks .image-link img {
		max-width: 100%;
		height: auto;
	}
	
	.main-featured .blocks .small {
		width: 48%;
		margin-right: 4%;	
	}
	
	.main-footer input.feedburner-subscribe {
		margin-top: 5px;
		margin-left: 0;
		display: block;
	}
	
	.flickr-widget .flickr_badge_image:nth-of-type(4n) { margin-right: 12px; }
	.flickr-widget .flickr_badge_image:nth-of-type(3n) { margin-right: 0; }
	
	.no-display { opacity: 1; }
	
	/* fontawesome rendering issue on android 4.2/nexus */
	.navigation .menu li > a:after, .navigation .mega-menu.links > li li a:before, 
	.flex-direction-nav a:after, .sc-accordion-title a:after, .sc-toggle-title a:after, .fa {
		text-rendering: auto;
	}
}

/* Large Tablet Layout: 800px. - fluid */
@media only screen and (min-width: 800px) and (max-width: 940px) {

	.column, .row [class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
		
	.wrap > .row, .row {
		margin-left: -15px;
		margin-right: -15px; 
	}

	/* change top bar */
	.trending-ticker { font-size: 13px; }
	.trending-ticker .heading { margin-right: 25px; }
	
	.trending-ticker a {
		max-width: 235px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;
		line-height: 1.3;
		padding-right: 5px;
		margin-top: -2px;
	}
		
	/*
	 * Make menu and mega menus compact
	 */
	.navigation .menu > li > a {
		font-size: 13px;
		padding: 0 13px;
	}
	
	.navigation .menu li > a:after { 
		margin-left: 5px;
		font-size: 13px;
		line-height: 1;
	}
	
	/* category mega menu */
	.mega-menu .sub-cats { padding: 0; }
	
	.mega-menu .sub-nav {
		padding-left: 15px;
		padding-right: 15px;
	} 
	
	.mega-menu .extend { padding: 0; }
	
	.mega-menu .recent-posts .post:nth-child(3) { display: none; }	
	
	/* links mega menu */
	.navigation .mega-menu.links > li { padding: 0 15px; }

	.navigation .mega-menu, .navigation .mega-menu.links > li > a, .navigation .mega-menu .sub-nav li a { font-size: 13px; }
	.navigation .mega-menu.links > li li a:before { display: none; }
	.navigation .mega-menu.links > li li a { padding-left: 5px; }
	
	/* slider */
		
	.main-featured .blocks .small h3 { padding: 20px 5px 5px 5px; }
	.main-featured .blocks.col-4 { padding-left: 4px; }

	
	.tabbed .tabs-list a {
		font-size: 12px;
		padding: 0 2.5%;	
	}
	
	.main .sidebar:before { margin-left: -15px; }
	
	/* reduce image size in sidebar widgets */
	.sidebar .posts-list img { width: 65px; }
	.sidebar .posts-list .content { margin-left: 80px; }
	
	
	.listing-alt img { width: 110%; }
	.listing-alt article > a { max-width: 200px; }
	.listing-alt article .content { margin-left: 220px; }
	
	.main-footer .posts-list img { width: 60px; }
	.main-footer .posts-list .content { margin-left: 75px; }
	
	.flickr-widget a {
		width: 60px;
		height: 52px;
	}

}

/* Small Tablet: 768px. - fluid */
@media only screen and (min-width: 768px) and (max-width: 799px) {
		
	.main-featured .blocks { display: none; }
	.main-featured .slider, .main-featured .flexslider .slides img { width: 100%; }
	
	.main-content, .sidebar { width: 100%; }
	
	/* show nav for slider on tablets */
	.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev { opacity: 0.8; }
	
	.main-footer .col-4 {
		width: 100%;
		margin-top: 28px;
	}
	
	.main-footer .col-4:first-child { margin-top: 0; }
	
	/* footer fix */
	.flickr-widget .flickr_badge_image:nth-of-type(4n) { margin-right: 12px; }
	
	
	.main-footer input.feedburner-subscribe {
		display: inline;
		margin-left: 4px;
	}
	
	
	/*----------------------------------------*/
		
		nav.navigation.cf {
    width: auto !important;
}
.wrap, .boxed .main-wrap { 
		width: 100% !important;
		}
	
	
	.homepagemiddile_area .vc_col-sm-2 {
    display: inline-block !important;
    float: left !important;
    text-align: center;
    width: 48% !important;
}
	.customrowclass .vc_col-sm-6 {
    float: right;
    margin-top: 10px;
    width: 100%;
}
.top-feature-image-new {
    position: relative;
    width: 100%;
}
.column, .row [class*="col-"] {
    box-sizing: border-box;
    float: none !important;
}
.vc_col-sm-2.second-image-box-new.wpb_column.vc_column_container {
	 margin-left: 0px !important;
    margin-top: 695px !important;
}
.customrowclass .vc_col-sm-2 {
    float: left !important;
    padding: 0 13px;
    width: 50% !important;
}
.customrowclass .vc_col-sm-6 {
    margin-top: 10px;
    width: 50% !important;
    float: right !important;
}
.top-feature-image-new {
    position: relative !important;
    width: 100% !important;
    margin-bottom: 0px !important;
}
.top-feature-image-new {
    position: relative !important;
    width: 100% !important;
}
.image-one-rightside-new {
    margin-top: 0 !important;
    position: relative !important;
}
.text-right-side-new-one {
    margin-top: 0 !important;
    position: relative !important;
}
.title-rightside-new {
    margin-top: 0 !important;
    position: relative !important;
    width: 100% !important;
}
.new-absolute {
    left: 0px !important;
    position: relative;
    top: 30px;
    width: 100% !important;
}
.new-absolute li img {
    height: 100px !important;
    margin-bottom: 30px !important;
    margin-right: 15px !important;
    width: 28% !important;
}
.issuuembed.issuu-isrendered {
}
.main-footer .wrap {
    padding: 0 7% !important;
}
.main-footer .foot1 {
    clear: both;
    display: block;
    padding-right: 0px !important;
    width: 100%;
}
.main-footer .footlogo li {
    border-bottom: medium none;
    display: inline-block;
    width: 25%;
}
.main-footer .footlogo li img {
    width: 100%;
}
.main-footer .foot1.footlast {
    padding-right: 0;
    width: 100% !important;
}
.main-footer .footlogo {
    text-align: center;
}
	.vc_col-sm-4 {
    width: 100% !important;
}
}

/* Mobile + Small Tablet shared rules */
@media only screen and (max-width: 799px) {

	/*
	 * Top Bar
	 */
	 
	/* change top bar styling */
	.top-bar .social-icons {
		clear: both;
		text-align: center;
		float: none;
	}
	
	.top-bar .search { display: none; }
	
	.top-bar .social-icons li {
		float: none;
		display: inline-block;
	}
	
	.top-bar-content > div { display: block; }
	
	.top-bar .trending-ticker .heading {
		float: none;
		margin-right: 0;
	}
	
	.top-bar .trending-ticker ul { float: none; }
	
	.top-bar .trending-ticker {
		text-align: center;
		margin-bottom: 14px;
	}
	
	.top-bar .trending-ticket li { 
		max-width: 100%;
		text-overflow: ellipsis;
	}
	
	.top-bar .menu { 
		float: none;
		text-align: center; 
		margin-bottom: 7px;
	}
	
	.top-bar .menu li {
		float: none;
		display: inline-block;
		padding-left: 14px;
	} 
	
	
	/*
	 * Header 
	 */
	.main-head .title {
		float: none;
		text-align: center;
		margin-bottom: 28px;
		margin-top: 42px;
		line-height: 1;
	}
	
	.main-head .right { 
		float: none;
		margin-bottom: 28px;
		line-height: 1.5;
		text-align: center;
	}
	
	.main-head .right > div {
		display: inline-block;
		max-width: 100%;
	}
		
	.main-head .right  { margin-left: 0; }

	.main .sidebar { margin-top: 35px; /* + 7px added above */ }
	.main .sidebar:before { display: none; }
	

	/*
	 * Mobile Navigation 
	 */
	.navigation { border-bottom: 0; }
	
	.navigation.sticky {
		position: static;
	}
	
	.navigation .menu { display: none; }	
	.navigation .mobile-menu.active { display: block; }
	
	.navigation ul li {
		float: none;
		clear: both;
		display: block;
	}
	
	.navigation .menu ul {
		position: static;
		display: none;
		visibility: visible;
		opacity: 1;
	}
	
	.navigation .menu > li > a {
		font-size: 13px;
		margin-bottom: 0;
		border-bottom: 0;
	}
	
	.navigation .mobile:hover a { text-decoration: none; }
	.navigation .mobile { display: block; }
	
	.navigation .mobile .selected {
		display: block; 
		padding: 0 15px;
		line-height: 44px;
		margin-bottom: -1px;
		overflow: hidden;
	}
	
	.navigation .mobile .text  { float: left; }
	
	.navigation .mobile .current {
		float: left;
		margin-left: 14px; 
		font-size: 13px;
		max-width: 40%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		vertical-align: bottom;
	}
	
	.navigation .mobile .fa {
		font-size: 21px;
		float: right;
		width: 50px;
		background: #e54e53;
		margin-right: -15px;
		text-align: center;
		line-height: 43px;
	}

	
	.navigation .menu > li:hover > a, .navigation .menu > .current-menu-item > a, 
	.navigation .menu > .current-menu-parent > a, .navigation .mega-menu.links > li:hover,
	.navigation .menu > .current-menu-ancestor > a {
		border-bottom: 0;
		background: #1e2935; 
	}
	
	.navigation .menu li a {
		float: none;
		display: block;
		border-top: 1px solid #1f2c38;
	}
		
	.navigation .menu li > a:after { display: none; }
	
	.navigation .menu li > a .chevron {
		float: right;
		width: 50px;
		background: #303A44;
		background: rgba(0, 0, 0, 0.075);
		margin-right: -20px;
		text-align: center;
		font-size: 16px;
	}
	
	.navigation .menu li ul li > a .chevron { 
		margin: 0;
		margin-right: -25px;	
		padding: 2px 0;
		margin-top: -5px;
	}

	.navigation .menu > li li a { padding-left: 35px; }
	.navigation .menu > li li li a { padding-left: 45px; }
	
	.navigation .menu li.active { background: #1e2935; }
	
	/* mega menu fixes */
	.navigation .mega-menu { display: none; }
	
	.navigation .mega-menu.links { padding: 0; }
	
	.navigation .mega-menu.links > li { 
		float: none;
		width: auto;
		padding: 0;
	}
		
	.navigation .mega-menu.links > li > a {
		text-transform: none;
		font-weight: normal;
		font-size: 13px;
		padding: 6px 25px;
		border-bottom: 0;
		border-top: 1px solid #1f2c38;
	}
	
	.navigation .mega-menu.links .chevron {
		margin-top: -5px;
		padding: 2px 0px;
		border-top: 0;
	}
	
	.navigation .mega-menu.links > li li a:before { display: none; }
	
	.navigation .mega-menu.links > li li a { padding-left: 45px; }
	.navigation .mega-menu.links > li li a:last-child { border-bottom: 0; }
	
	/* disabled above in large tablet/1024 breakpoint */
	.post-share .text { display: inline-block; }
	
	/* sidebar */
	.sidebar .gallery-block .slides img { width: 100%; }
	
	/* flickr widget footer fluid fix */
	.flickr-widget .flickr_badge_image:nth-of-type(4n), .flickr-widget .flickr_badge_image:nth-of-type(3n) { margin-right: 12px; }
}

/* Phones and smaller tablets - fluid */ 
@media only screen and (max-width: 767px) {
nav.navigation.cf {
    width: auto !important;
}
		.wrap, .boxed .main-wrap { 
		width: 100% !important;
		}
	/* all columns fluid */
	.row .column, .column, .row [class*="col-"] {
		width: 100%;
		margin-bottom: 0px !important; 
	}
	
	.post-content .row .column { margin-bottom: 1.857em; }
		
	.page > .row.builder > .column:only-child { margin-bottom: 0; }
	
	
	/* breadcrumbs */
	.breadcrumbs { 
		padding: 14px;
		line-height: 1.5;
	}
	
	.breadcrumbs .location { display: none; }

	.main-featured .slider h3 a { font-size: 16px; }
	.main-featured .blocks { display: none; }
	.main-featured .slider, .main-featured .flexslider .slides img { width: 100%; }
		
	/* show nav for slider on tablets */
	.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev { opacity: 0.8; }

	
	/*
	 * Homepage Blocks 
	 */
	 
	/* cleanup highlights 3 col style */
	.highlights-box.three-col .column.one-third {
		margin-bottom: 42px;
	}
	
	.highlights-box.three-col .column.one-third:last-child { margin-bottom: 0; }	
	.highlights-box.three-col article {
		float: left;
		width: 50%; 
	}
	
	.no-sidebar .highlights-box.three-col article {
		float: none;
		width: 100%;
	}	
	
	.highlights-box .column.half {
		margin-top: 42px;
		margin-bottom: 0;
	}

	.highlights-box .column.half:first-child {
		margin-top: 0;
		border-right: 0; 
	}
	
	.highlights .block.posts { 
		border-top: 0;
		margin-top: 0;
	}

	.news-focus .posts, .highlights-box.three-col article { margin-bottom: 0; }

	.news-focus .focus .image-link {
		float: left;
		margin-right: 14px;
		width: 25%;
	}
	
	.news-focus .focus .image-link img {
		width: 100%;
		height: auto;
	}
	
	.news-focus .excerpt {
		border-bottom: 1px solid #d9d9d9;
		padding-bottom: 14px;
	}
	
	.news-focus > .row { margin-bottom: -28px; }
	
	.news-focus .heading .subcats { display: none; }
		
	/*
	 * Single Post 
	 */
	.post-content { margin-left: 0; } 
	
	.post-content-right { clear: both; }
	
	.post-share { margin-left: 0; }
	
	.share-links { line-height: 33px; }
	
	.author-info .avatar { 
		max-width: 75px;
		height: auto;
	}
	
	.author-info .description { margin-left: 100px; }
	
	.author-info .social-icons { 
		float: none;
		overflow: hidden;
		padding-top: 14px;
	} 
	
	
	.related-posts .highlights-box.three-col .column { margin-bottom: 28px; }
	
	.comments-list .children, .comment .comment-respond { margin-left: 15px; }
	
	.comment-respond input {
		max-width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	/*
	 * Category listings
	 */
	.listing-alt article > a {
		max-width: 100%; 
		float: none;
	}
	 
	.listing-alt img {
		width: 100%;
		margin-left: 0;
		float: none;
	}
	
	.listing-alt article .content {
		margin-left: 0;
		margin-top: 0;
	}
	
	
	/*
	 * Footer Changes
	 */ 
	
	.main-footer .widget:last-child { margin-bottom: 0; }
	
	.main-footer input.feedburner-subscribe { margin-top: 5px; }
	
	/* footer styles */
	.flickr-widget { margin-right: -14px; }
	
	/* lower widget center aligned */
	.lower-foot .widgets > div { 
		margin-top: 28px;
		text-align: center; 
	}
	
	.lower-foot .widgets > div:first-child { margin-top: 0; }
	
	.lower-foot .textwidget { float: none; }
	
	.lower-foot .menu-footer-container {
		overflow: hidden;
		text-align: center;
		clear: both;
		
		/* hidden by default - but will work if following line is removed */
		display: none;
	}
	
	.lower-foot .menu { 
		float: none;
		display: inline-block;
	}
	
	.main-footer input.feedburner-subscribe {
		display: inline;
		margin-left: 4px;
	}
	
	/* footer fix */
	.flickr-widget .flickr_badge_image:nth-of-type(4n) { margin-right: 12px; }
	
	.modal {
		width: 250px;
		margin-left: -125px;
	}
}
@media only screen and (min-width: 500px) and (max-width: 650px) {
	.homepagemiddile_area .vc_col-sm-2 {
    display: inline-block !important;
    float: left !important;
    text-align: center;
    width: 48% !important;
}
	.customrowclass .vc_col-sm-6 {
    float: right;
    margin-top: 10px;
    width: 100%;
}
.top-feature-image-new {
    position: relative;
    width: 100%;
}
.column, .row [class*="col-"] {
    box-sizing: border-box;
    float: none !important;
}
.vc_col-sm-2.second-image-box-new.wpb_column.vc_column_container {
	 margin-left: 0px !important;
    margin-top: 0px !important;
    position: relative !important;
}
.customrowclass .vc_col-sm-2 {
    padding: 0 13px;
    width: 100% !important;
}
.customrowclass .vc_col-sm-6 {
    float: none;
    margin-top: 10px;
    width: 100% !important;
}
.top-feature-image-new {
    position: relative !important;
    width: 100% !important;
    margin-bottom: 0px !important;
}
.top-feature-image-new {
    position: relative !important;
    width: 100% !important;
}
.image-one-rightside-new {
    margin-top: 0 !important;
    position: relative !important;
}
.text-right-side-new-one {
    margin-top: 0 !important;
    position: relative !important;
}
.title-rightside-new {
    margin-top: 0 !important;
    position: relative !important;
    width: 100% !important;
}
.new-absolute {
    left: 0px !important;
    position: relative;
    top: 30px;
    width: 100% !important;
}
.new-absolute li img {
    height: 200px !important;
    margin-bottom: 30px !important;
    width: 44% !important;
    margin-right: 15px !important;
}
.issuuembed.issuu-isrendered {
    width: 100% !important;
}
.main-footer .wrap {
    padding: 0 7% !important;
}
.main-footer .foot1 {
    clear: both;
    display: block;
    padding-right: 0px !important;
    width: 100%;
}
.main-footer .footlogo li {
    border-bottom: medium none;
    display: inline-block;
    width: 25%;
}
.main-footer .footlogo li img {
    width: 100%;
}
.main-footer .foot1.footlast {
    padding-right: 0;
    width: 100% !important;
}
.main-footer .footlogo {
    text-align: center;
}
	
}
/* Smaller Phones - Some androids have upto 400px portrait */
@media only screen and (max-width: 490px) {
	.social-icons li {
    margin-right: 2px !important;
}
.right #flags {
    float: none !important;
    position: relative;
    top: 14px !important;
    width: 22px !important;
}
	.title .logo-image {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    width: 72px;
}
.social-icons img {
    height: 30px;
    width: 30px;
}
.right .social-icons span a {
    line-height: 36px !important;
    padding: 0 5px !important;
}
	.homepagemiddile_area .vc_col-sm-2 {
    text-align: center;
    width: 100% !important;
}

.customrowclass .vc_col-sm-6 {
    float: right;
    margin-top: 10px;
    width: 100%;
}
.top-feature-image-new {
    position: relative;
    width: 100%;
}
.column, .row [class*="col-"] {
    box-sizing: border-box;
    float: none !important;
}
.vc_col-sm-2.second-image-box-new.wpb_column.vc_column_container {
	 margin-left: 0px !important;
    margin-top: 0px !important;
    position: relative !important;
}
.customrowclass .vc_col-sm-2 {
    padding: 0 13px;
    width: 100% !important;
}
.customrowclass .vc_col-sm-6 {
    float: none;
    margin-top: 10px;
    width: 100% !important;
}
.top-feature-image-new {
    position: relative !important;
    width: 100% !important;
    margin-bottom: 0px !important;
}
.top-feature-image-new {
    position: relative !important;
    width: 100% !important;
}
.image-one-rightside-new {
    margin-top: 0 !important;
    position: relative !important;
}
.text-right-side-new-one {
    margin-top: 0 !important;
    position: relative !important;
}
.title-rightside-new {
    margin-top: 0 !important;
    position: relative !important;
    width: 100% !important;
}
.new-absolute {
    left: 0px !important;
    position: relative;
    top: 30px;
    width: 100% !important;
}
.new-absolute li img {
    height: 100px;
    margin-bottom: 30px !important;
    width: 44% !important;
    margin-right: 15px !important;
}
.issuuembed.issuu-isrendered {
    width: 100% !important;
}
.main-footer .wrap {
    padding: 0 7% !important;
}
.main-footer .foot1 {
    clear: both;
    display: block;
    padding-right: 0px !important;
    width: 100%;
}
.main-footer .footlogo li {
    border-bottom: medium none;
    display: inline-block;
    float: left;
    width: 50%;
}
.main-footer .footlogo li img {
    width: 100%;
}
.main-footer .foot1.footlast {
    padding-right: 0;
    width: 100% !important;
}
}
@media only screen and (max-width: 400px) {
	body.boxed { padding: 0; }
	
	.main-head .title { font-size: 32px; }
	
	.breadcrumbs { display: none; }
	
	.main-featured .slider .caption {
		overflow: hidden;
		position: static;
		background: #19232d;
	}
	
	.main-featured .flex-direction-nav .flex-next, .main-featured .flex-direction-nav .flex-prev { top: 100px; }
	
	.main-featured .pages { display: none; }
	
	
	/* cleanup highlights 3 col style */	
	.highlights-box.three-col article, .highlights-box.three-col .posts {
		width: 100%;
		float: none;
		padding: 0;
	}
	
	.highlights-box.three-col .column.one-third { margin-top: 28px;	}
	
	.highlights-box.three-col article { margin-bottom: 28px; }
	
	.gallery-block .carousel .title a { font-size: 12px; }
	
	/* author box */
	.author-info .social-icons { 
		float: none;
		padding: 21px 0;
	}
	
	.author-info .avatar { 
		max-width: 65px;
		height: auto;
	}
	
	.author-info .description { margin-left: 75px; }
	
	
	/* comments list narrower */
	.comments-list .comment-meta { margin-left: 20%; }
	.comments-list .comment-content {
		margin-left: 0;
		margin-top: 28px;
	}
	
	.comment .comment-respond { margin-left: 0; }

	.main-footer input.feedburner-subscribe {
		margin-left: 0;
		display: block;
	}
}

@media (min-width: 768px) {
	/* retina images fix */
	.listing-alt img { max-width: 351px; }
}


@media (min-device-width: 1824px) {
	/* post/page body font size for large desktop */ 
	.post-content { font-size: 14px; }
}
